body {
    color:white;
    background:black;
    margin:0px;
    margin-bottom: 100px;
}

header {
    border-bottom:solid 1px rgba(255, 255, 255, 0.968);
    padding:20px;
    font-size: 32px;
    color:white;
}

.video {
    background:rgb(174, 174, 174);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

img {
    height: 300px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.filmes {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid rgb(242, 242, 247);
}